# Created by .ignore support plugin (hsz.mobi)
.idea/COCEEmulation.iml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
base.bin
extra_high_1.bin
extra_high_2.bin
extra_low_1.bin
libg.so
sp.bin
things.zip
